.produtos-moda-th {
    background-color: #BB86FC;
    padding: 100px;
}

.produtos-casa-th {
    background-color: #00C4B4;
}

td {
    padding: 5px;
    background-color: #424250;
}

th {
    padding: 5px;
}

* {
    color: white
}

p {
    color: #000;
    font-weight: bold;
}


    
